
<p><strong>Количество расхождений</strong></p>
<p>lost_ftc: {{ cnt_lost_ftc }} шт.</p>
<p>lost_cft: {{ cnt_lost_cft }} шт.</p>
<p>dif_status: {{ cnt_dif_status }} шт.</p>
<p>dif_open_date: {{ cnt_dif_open_date }} шт.</p>
<p>dif_close_date: {{ cnt_dif_close_date }} шт.</p>
<p>dif_open_null: {{ cnt_dif_open_null }} шт.</p>
<p>diff_balance: {{ cnt_diff_balance }} шт.</p>
<p><br></p>
