
<p><strong>Количество расхождений</strong></p>
<p>Счёт не найден в АБС: {{ cnt_acc_unmatched_abs }} шт.</p>
<p>Счёт не найден в Solar: {{ cnt_acc_unmatched_solar }} шт.</p>
<p>Дата открытия в АБС и Solar не совпадает: {{ cnt_open_date_unmatched }} шт.</p>
<p>Дата закрытия в АБС и Solar не совпадает: {{ cnt_close_date_unmatched }} шт.</p>
<p>Статус в АБС и Solar не совпадает: {{ cnt_status_unmatched }} шт.</p>
<p><br></p>
