<p>Сверка данных по эквайрингу через Альфу за {{ date }} <strong> НЕ успешна </strong>.</p>
<p><br></p>

<p>Дельта по оплатам: {{ '%.2f' % difference_payments_amount }} рублей.</p>
<p>Дельта по возвратам: {{ '%.2f' % difference_refunds_amount }} рублей.</p>
<p><br></p>

<p><strong>Показатели:</strong></p>
<p>Оплаты по корр. счету Альфы: {{ payments_within_bank_amount }} рублей.</p>
<p>Возвраты по корр. счету Альфы: {{ refunds_within_bank_amount }} рублей.</p>
<p>Оплаты по реестру от Альфы: {{ payments_alfa_amount }} рублей.</p>
<p>Возвраты по реестру от Альфы: {{ refunds_alfa_amount }} рублей.</p>
<p><br></p>

